.secrets
.github/config/ceramic-aws-node/.terraform*
.github/config/ceramic-aws-node/inventory
.github/config/ceramic-aws-node/*.tfstate
.github/config/ceramic-aws-node/*.tfstate.backup
.github/config/ceramic-aws-node/daemon-config.json

**/transfer-ssh-keys.yml
ansible-key
ansible-key.pub

.node_modules